body {
    color: rgb(243, 255, 177);
}

#dreispalten {
    background-color: #d8d8d848;
    /* backdrop-filter: blur(2px); */
}

h1 {
    background-color: #d8d8d848;
    text-shadow: 5px 5px #000000;
}

h3 input {
    color: rgb(49, 49, 95);
    background-color: #b8b8b8bd;
}

textarea {
    background: #d1d1d1;
}

.nice_box {
    border-color: #f8f55b;
    background-color: #e4af00c4;
}

th {
    /* text-shadow: 2px 2px #3b3b3b; */
    color: #fcfbe3;
    border-bottom-color: #6e531f;
}

td input {
    background-color: #c9c61bda;
    border-color: #f8f55b;
}

td input[type="number"] {
    color: #285201;
}

td input[type="text"] {
    color: #a3418e;
    border-color: #b15bf8;
}

#mo-preview {
    border-color: #797979;
    background-color: #e0e0e0de;

}

#mo-preview line {
    stroke-color: rgb(0, 0, 0);
}

/* #mo-preview image {
    im dark mode wird hier invertiert
} */

.orbital_line {
    stroke: black;
}

.energy_scale_line {
    stroke: black;
}

.energy_scale_tip {
    stroke: black;
}

.orbital_connection_line {
    stroke: #888888;
}

.electron_normal {
    stroke: black;
}

.electron_compact {
    stroke: rgb(255, 0, 0);
}

.orbital_label {
    fill: black;
    text-shadow: none;
}

#unsaved_notifier {
    color: red;
    background-color: #a34172ce;
}

.remove_orbital {
    background-color: #EA4C89;
    color: #FFFFFF;
}

.add_orbital {
    background-color: #4cea74;
    color: #ffffff;
}